.footer-container {
  background-color: var(--secondary-bg);
  padding: 20px 40px;
  border-top: 1px solid #ddd;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* LEFT - SOCIAL */
.footer-social {
  display: flex;
  align-items: center;
}

.footer-icons {
  display: flex;
  gap: 15px;
}

.footer-icons i {
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s;
}

.footer-icons i:hover {
  transform: scale(1.2);
  color: var(--dark-blue);
}

/* CENTER */
.footer-center {
  font-weight: 600;
  text-align: center;
}

/* RIGHT */
.footer-info {
  max-width: 260px;
  font-size: 13px;
}

/* RESPONSIVE FOOTER */
@media (max-width: 768px) {
  .footer-container {
    padding: 20px 20px;
  }

  .footer-content {
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }

  .footer-social {
    justify-content: center;
  }

  .footer-info {
    max-width: 100%;
  }
}