.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  padding: 0 16px;

  background-color: var(--secondary-bg);
}

/* LEFT */
.nav-left {
  width: 60px;
}

/* CENTER */
.nav-center {
  flex: 1;
  text-align: center;
}

.nav-center h5 {
  font-weight: 700;
  color: var(--dark-blue);
}

/* RIGHT */
.nav-right {
  width: 60px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

/* ICON */
.navbar-container i {
  color: var(--dark-blue);
}

/* BUTTON */
.navbar-container .btn-outline-dark {
  border-color: var(--dark-blue);
  color: var(--dark-blue);
}

.navbar-container .btn-outline-dark:hover {
  background-color: var(--hover-bg);
}